	<head>
		<title>Atlus Hard Dash</title>
<link href='http://fonts.googleapis.com/css?family=Lusitana:700' rel='stylesheet' type='text/css'>		
<link rel="stylesheet" href="css/style.css">
	<script src="js/jquery.js"></script>
	<script src="js/main.js"></script>
	</head>
	<body>
		{{> header }}
		<div class="field">
			<div class="inner">
				<div class="card" id="current">
					<span id="count"></span>
					<img src="" alt="">
				</div>
				<div class="card" id="active">
					<img src="" alt="">
				</div>
			</div>


			<footer>
				Press ENTER to advance scheme deck
			</footer>
			
			<script src="js/main.js"></script>
		</div>
	</body>

<template name="header">
			<header>
			<ul class="life" id="life">
				
			</ul>
		</header>

</template>